html {
  background-color: #222;
  color: #eee;
  font-family: sans-serif;
}
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
}
#grid {
  --size: 90vmin;
  background-color: #333;
  padding: 1vmin;
  border-radius: 2vmin;
  width: var(--size);
  height: calc(var(--size) / var(--width) * var(--height));
  display: grid;
  grid-template-columns: repeat(var(--width), 1fr);
}
.tile {
  background-color: #111;
  border: 2px solid #111;
  border-radius: 50%;
  width: 95%;
  height: 95%;
}

@keyframes fall-animation {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}

.tile[data-value='1'] {
  border: 2px solid hsl(0, 100%, 40%);
  background-color: hsl(0, 100%, 40%);
  animation-name: fall-animation;
  animation-duration: 300ms;
}
.tile[data-value='2'] {
  border: 2px solid darkgoldenrod;
  background-color: darkgoldenrod;
  animation-name: fall-animation;
  animation-duration: 300ms;
}
.tile[data-glow] {
  border: 2px solid blue;
}
.tile[data-alert] {
  border: 2px solid hsl(111, 59%, 91%);
}
.tile:hover {
  cursor: pointer;
}
