*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.link-inactive {
  user-select: none;
  cursor: pointer;
}

.link-active {
  user-select: none;
  cursor: pointer;
}


/* link,
link a {
  font-size: 110%;
  font-weight: 400;
  font-family: "some-font";
  text-decoration: none;
  padding: 0.25rem;
  color: "#fefefe";
  background: transparent;
  border: 0;
  outline: none;
  cursor: default;
}

link,
link a:hover {
  cursor: default;
  text-decoration: none;
  color: hsl(203, 89%, 53%);
  transition: color 250ms ease;
}

.link-active-div {
  padding: 5px 5px 5px 0px;
  background-color: hsla(0, 0%, 0%, 0.35);
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
}

.link-active-div a:hover {
  color: var(--app-color);
  text-decoration: none;
  cursor: pointer;
}

.link-inactive-div {
  padding: 5px 5px 5px 0px;
  background-color: hsla(0, 0%, 0%, 0.1);
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
}

.link-inactive-div a:hover {
  color: var(--app-color);
  text-decoration: none;
  cursor: pointer;
}

.link-static {
  background-color: transparent;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.link-static :focus {
  outline: none !important;
  border: 0px solid transparent;
  box-shadow: 0 0 0px transparent;
} */
