.slot {
  box-sizing: border-box;
  width: 85%;
  height: 85%;
  background-color: var(--background);
  border-radius: 50%;
}

@keyframes fall-animation {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}

.slot[data-value*='1'] {
  background-color: hsl(0, 100%, 40%);
  animation-name: fall-animation;
  animation-duration: 300ms;
}
.slot[data-value*='2'] {
  background-color: darkgoldenrod;
  animation-name: fall-animation;
  animation-duration: 300ms;
}
.slot[data-value='-1'] {
  border: 10px solid hsl(0, 100%, 40%);
  background-color: #0f0a;
}
.slot[data-value='-2'] {
  border: 10px solid darkgoldenrod;
  background-color: #0f0a;
}
.slot:hover {
  cursor: pointer;
}
