:root {
  --board: #0c3eb9;
  --background: #222;
  --main: #eee;
}
html {
  background-color: var(--background);
  color: var(--main);
  font-family: sans-serif;
  margin: 0;
}
body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-content: center;
  text-align: center;
}
#grid {
  --size: 90vmin;
  --width: 7;
  --height: 6;
  background-color: var(--board);
  padding: 1vmin;
  border-radius: 2vmin;
  width: var(--size);
  height: calc(var(--size) / var(--width) * var(--height));
  display: grid;
  grid-template-columns: repeat(var(--width), 1fr);
}
.slot {
  margin-bottom: 0.25vh;
  background-color: var(--background);
  border: 2px solid var(--background);
  border-radius: 50%;
  width: 9.5vh;
  height: 9.5vh;
}

@keyframes fall-animation {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}

.slot[data-value*="1"] {
  border: 2px solid hsl(0, 100%, 40%);
  background-color: hsl(0, 100%, 40%);
  animation-name: fall-animation;
  animation-duration: 300ms;
}
.slot[data-value*="2"] {
  border: 2px solid darkgoldenrod;
  background-color: darkgoldenrod;
  animation-name: fall-animation;
  animation-duration: 300ms;
}
.slot[data-value="-1"] {
  border: 8px solid hsl(0, 100%, 40%);
  background-color: #0f0a;
}
.slot[data-value="-2"] {
  border: 8px solid darkgoldenrod;
  background-color: #0f0a;
}
.slot:hover {
  cursor: pointer;
}

.title {
  background-color: #000b;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.gamemode-select {
  background-color: #000;
  border-radius: 2rem;
  width: min(100vw, 60ch);
  height: min(100vh, 80ch);
  display: grid;
}
.gamemode-select > button {
  background-color: #111;
  color: #eee;
  font: inherit;
  font-size: 2rem;
  border: none;
  margin: 0.2em;
  transition: background-color 400ms ease-out;
}
.gamemode-select > button:hover {
  background-color: #444;
  cursor: pointer;
}

.game-over {
  background-color: #000d;
  position: absolute;
  width: 100vw;
  height: 12vh;
  display: grid;
  place-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#game-over-text {
  margin: 10px;
}

#game-over-result {
  margin: 10px;
}
